@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body{
    background: #04021d;
    cursor: default;
    overflow-x: hidden;
}
header{
    background: #000;
    width: 100vw;
    height: 10vh;
}
h1{
    color: #fff;
}
nav{
    width: 100vw;
    height: 100vh;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #fff;
    height: 10vh;
}
a{
    color: #fff;
    font-size: 1.2rem;
}
a:nth-last-child(1){
    margin: 0px 1rem 0px 0px;
}
.expand{
    position:relative;
    text-decoration:none;
    display:inline-block;
  }
  .expand:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
  }
  .expand:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
  }

.h1{
    font-size: 2rem;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/*============main============*/

main{
    width: 100vw;
    height: 100vh;
}
h2{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0px 1rem 0px;
}
.escolaridade{
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}
#res,#nat{
    border: 3px solid #fff;
    margin: 2vw;
    width: 40vw;
    height: 40vh;
    background: #0fafa231;
}