@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body{
    background: #040113;
    cursor: default;
    overflow-x: hidden;
    height: 120vh;
}
header{
    background: #000;
    width: 100vw;
    height: 10vh;
}
h1{
    color: #fff;
}
nav{
    width: 100vw;
    height: 100vh;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #fff;
    height: 10vh;
}
a{
    color: #fff;
    font-size: 1.2rem;
}
a:nth-last-child(1){
    margin: 0px 1rem 0px 0px;
}
.expand{
    position:relative;
    text-decoration:none;
    display:inline-block;
    }
.expand:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}
.expand:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}
.h1{
    font-size: 2rem;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.txt{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.df{
    width: 30vw;
    height: 40vh;
    margin-bottom: 2rem;
}
.img1{
    width: 35vw;
    height: 70vh;
    margin-left: 1vw;
    border-radius: 5rem;
}
h2{
    color: #fff;
    text-align: center;
    font-size: 3rem;
    letter-spacing: -3px;
    line-height: 2.7rem;
    margin-top: 1.5rem;
}

/*===============main=================*/

.esc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.esc p{
    color: #fff;
    margin: 2vw;
    font-size: 1.3rem;
    font-family: Comfortaa;
    text-align: justify;
}

.trab{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trab h2{
    margin: 1rem 0px 1rem 0px;
}

#video{
        margin: 1rem 0px 1rem 0px;
        border: 5px solid #414181;
    }
    
    #map{
        margin: 0px 15px;
        border: 5px solid #414181;
    }
